$main-gradient: linear-gradient(90deg, rgba(82,6,168,.75) 100%, rgba(188,25,196,.75) 100%);
$main-gradient-solid: linear-gradient(90deg, rgba(82,6,168,1) 100%, rgba(188,25,196,1) 100%);
$dark-gradient:linear-gradient(90deg, rgba(0,0,0,.6) 100%, rgba(0,0,0,.6) 100%);
$first-color:#8519C4;
$glight-gray:#F0F0F0;
$gray:#ddd;
$gray-dark:#aaa;
$text-dark:#222;
$text-light:#666;
$pure-white:#fff;